<p>Product Name: </p>

<div class="carousel-inner">
  <div class="carousel-item active">
    <img alt="Watermelon" src="https://ubisafe.org/images250_/watermelon-drawing-kawaii-3.png" />
    <div class="carousel-caption d-none d-md-block">
      <p>Watermelon</p>
    </div>
  </div>

  <div class="carousel-item active">
    <img alt="Watermelon" src="https://ubisafe.org/images250_/watermelon-drawing-kawaii-3.png" />
    <div class="carousel-caption d-none d-md-block">
      <p>Seed</p>
    </div>

    <div class="carousel-item active">
      <img alt="Watermelon" src="https://ubisafe.org/images250_/watermelon-drawing-kawaii-3.png" />
      <div class="carousel-caption d-none d-md-block">
        <p>Test Product</p>
      </div>

      <div class="carousel-item active">
        <img alt="Watermelon" src="https://ubisafe.org/images250_/watermelon-drawing-kawaii-3.png" />
        <div class="carousel-caption d-none d-md-block">
          <p>Seedless</p>
        </div>
  </div>
</div>
